<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>My Page</title>
<style>

    .mypage .profile{
        width: 100%;
	    height: 100%;
	    object-fit: cover;
    
    }
    .mypage .col-md-4 {
        width: 80%;
	    height: 80%; 
	    border-radius: 70%;
	    overflow: hidden;
	    
    }
	.mypage {
		display:flex;
		justify-content: center;
		width : 220px;
		height: 100%;
	}

</style>

</head>
<body>


  <div class="row g-0 mypage">
    <div class="col-md-4">
      <img src="https://pngimg.com/uploads/batman/batman_PNG16.png" class="profile rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p style="color:white;" class="card-text">닉네임 : <span sec:authentication="principal.username" class="text-white"></span></p>
        <p style="color:white;" class="card-text">이름 : <span sec:authentication="principal.username" class="text-white"></span></p>
        
      </div>
    </div>
  </div>

<form action="/profile/update" method="post" class="mx-3" style="display: flex; justify-content: center;">
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
  <select name="profile" id="profile-select">
    <option value="0" th:selected="${profile == 0}">White</option>
    <option value="1" th:selected="${profile == 1}">Black</option>
    <option value="2" th:selected="${profile == 2}">Blue</option>
    <option value="3" th:selected="${profile == 3}">Red</option>
    <option value="4" th:selected="${profile == 4}">Pink</option>
    <option value="5" th:selected="${profile == 5}">Yellow</option>
  </select>
  <button type="submit" class="btn btn-primary">프로필 변경</button>
</form>

</body>
</html>