<!DOCTYPE html>
<!-- 타임리프 문법으로 th:속성을 사용하기 위한 속성 -->
<html 
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>team-project 1</title>
</head>
<body>
    <h1>what you want?</h1>
    
    <div class="login-btnbox">
        <button class="login-btn" onclick="location.href='auth/login'">Login</button>
    </div>
    <div class="register-btnbox">
        <button class="register-btn" onclick="location.href='auth/register'">Register</button>
    </div>

</body>
</html>